/* 浅色模式下的透明背景 */
.card-widget,
.recent-post-item,
#page,
#post,
#archive,
#category,
#tag
  background-color: rgba(255, 255, 255, 0.75) !important

/* 深色模式下的透明背景 */
[data-theme="dark"] .card-widget,
[data-theme="dark"] .recent-post-item,
[data-theme="dark"] #page,
[data-theme="dark"] #post,
[data-theme="dark"] #archive
  background-color: rgba(30, 30, 30, 0.65) !important

.giscus iframe
  color-scheme: light
[data-theme="dark"] .giscus iframe
  color-scheme: dark